# folders and files to be ignored by git

############
## naked
############

naked.esproj/

# IDEs


*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/


# OSes

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

# Temporary files
.DS_Store
.AppleDouble
.LSOverride
.idea/
Icon\r\r

# External disk files
.Spotlight-V100
.Trashes

# AFP share files
.AppleDB
.AppleDesktop
.apdisk
Network Trash Folder
Temporary Items

# Package Managers
npm-debug.log
node_modules
assets/bower

# Misc

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*

.svn

*.codekit
*.scssc