/******************************************************************
Site Name:
Author:

Stylesheet: TinyMCE Editor

This stylesheet is loaded automatically by Wordpress when compiled
and placed in the root theme directory folder as editor-style.css

For more info, check out the codex:
http://codex.wordpress.org/Editor_Style

******************************************************************/

/* Wrap the entire post style inside the TinyMCE selector, as suggested
here http://codex.wordpress.org/Function_Reference/add_editor_style */
body#tinymce.wp-editor {

	// Basics ------------------------------------------------------ //
	@import 'functions';
	@import 'vars';
	@import 'mixins';

	// Bower ------------------------------------------------------- //
	@import '../bower/basicGrid/src/styles/main';

	// Others ------------------------------------------------------ //
	@import 'html';
	@import 'body';
	@import 'typography';
	@import 'img';
	@import 'table';
	@import 'hr';
	@import 'spacing';
	@import 'bg';
	@import 'c';
	@import 'btn';
	@import 'align';

	width: 731px;
	font-family: $fontFamily;
	font-size: 100%;
	line-height: 1.5;
	color: color('text');
	-webkit-font-smoothing: antialiased;

	/*********************
	LINK STYLES
	*********************/

	a, a:visited {
		color: color('blue');

		/* on hover */
		&:hover, &:focus {

		}

		/* on click */
		&:active {

		}

		&:link {

			-webkit-tap-highlight-color : rgba( 0, 0, 0, .3 );
		}
	}

	/******************************************************************
	H1, H2, H3, H4, H5 STYLES
	******************************************************************/

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
		text-rendering: optimizelegibility;
		font-weight: 500;
		a {
			text-decoration: none;
		}
	}

	h1, .h1 {
		font-size: 2.5em;
		line-height: 1.333em;
	}

	h2, .h2 {
		font-size: 1.75em;
		line-height: 1.4em;
		margin-bottom: .375em;
	}

	h3, .h3 {
		font-size: 1.125em;
	}

	h4, .h4 {
		font-size: 1.1em;
		font-weight: 700;
	}

	h5, .h5 {
		font-size: .846em;
		line-height: 2.09em;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	padding: 1.5em 1.5em 0;

	p {
		margin: 0 0 1.5em;
	}

	table {
		width: 100%;
		border: 1px solid color('light');
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: .75em;
			color: color('dark');
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid color('dark');

		&:nth-child(even) {
			background-color: color('light');
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid color('light');

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: color('light');
		border-bottom: 1px solid color('dark');
		border-right: 1px solid color('dark');

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em .75em;
		padding: 0 0 0 .75em;
		border-left: 3px solid color('blue');
		font-style: italic;
		color: color('text');
		&::before {}

	}

	dd {
		margin-left: 0;
		font-size: .9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em;
		max-width: 100%;
		height: auto;
	}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: color('black');
		color: color('light');
		font-size: .9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

}